.section-skills{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vw;
}

.section-skill__title{
    width: 90%;
}


.skills-list{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(9vw, 1fr));
    align-items: start;
    grid-gap: 3vw;
}

.skills-list__item {

    flex-direction: column;
    gap: 1vw;
    filter: grayscale(100%);
    transition: all 0.3s;
    display: flex;
    align-items: center;
}

.skills-list__item:hover{
    filter: grayscale(0%);
    cursor: pointer;
}

.skills-list__image{
    width: 50%;
}

.skills-list__rating{
    display:flex;
    flex-direction:row;
    gap:0.3vw;
}

.skills-list__star{
    color: #ffff00;
}

@media (max-width: 800px) {
    .skills-list {
        grid-template-columns: repeat(2, minmax(40%, 1fr));
        grid-gap: 10vw; 
    }

    .skills-list__item {
        flex-direction: column;
        gap: 1vw;
    }

    .skills-list__image {
        width: 50%;
    }

    .skills-list__rating {
        font-size: clamp(1rem, 3vw, 2rem);
    }
}
